<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <fieldset >
                <legend>Login</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
            <div>
                <small><a href="{% url 'recovery-password' %}">Forgot your password?</a></small>
            </div>
        </form>
    </div>
</body>
</html>