<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <navbar>
      <div class="nav">
        <div class="nav-logo">
          <img src="{% static 'img/Logo.svg' %}" alt="Logo" height="70" />
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'explore' %}">Explore</a></li>
            <li><a href="{% url 'how-to-observe' %}">How to Observe</a></li>
            <li><a href="{% url 'api' %}">API</a></li>
          </ul>
        </div>
        <div class="nav-user">
          {% if request.user.is_authenticated %}
          <ul>
            <li>
              <a class="login-user" href="{% url 'main-profile' %}"
                >{{ request.user.username }}</a
              >
            </li>
            <li><a class="sign-up" href="{% url 'logout' %}">Logout</a></li>
          </ul>
          {% else %}
          <ul>
            <li><a class="login-user" href="{% url 'login' %}">Login</a></li>
            <li>
              <a class="sign-up" href="{% url 'create-user' %}">Sign Up</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </navbar>
    <main class="main-subordinate">
      <div class="success">
        <h1>Thank You for your Feedback!</h1>
        <img src="{% static 'img/check-circle-fill.svg' %}" height="50px" />
      </div>
    </main>
    <footer class="login-footer">
      <div class="bottom-footer">
        <div class="resources">
          <p>@Pystronomical</p>
          <a href="{% url 'feedback' %}">Feedbacks</a>
        </div>
        <div class="top-footer">
          <a href=""><img src="img/twitter.svg" height="23" /></a>
          <a href=""><img src="img/github.svg" alt="@BeGeos" height="23" /></a>
          <a href=""
            ><img src="img/facebook.svg" alt="@BeGeos" height="23"
          /></a>
          <a href=""
            ><img src="img/instagram.svg" alt="@BeGeos" height="23"
          /></a>
          <a href=""><img src="img/youtube.svg" alt="@BeGeos" height="23" /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
