<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="/logout">Logout</a>
            </li>
            <li>
                <a href="{% url 'update-email' %}">Change Email</a>
            </li>
            <li>
                <a href="#">Change Password</a>
            </li>
                {% if not user.userstatus.confirmed %}
                <li>
                    <a href="{% url 'verification' %}">Confirm Account</a>
                </li>
                {% endif %}
            {% elif not user.is_authenticated %}
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="{% url 'create-user' %}">Sing up</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>
<div>
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}
    <h1>
        This is the homepage - Welcome {{ name }}
    </h1>
    {% if user.is_authenticated %}
        {% if user.userstatus.confirmed %}
        <div>
            <button><a href="{% url 'create-key' %}">Create Key</a></button>
        </div>
        {% else %}
        <div>
            <p>A verification code was sent to your email. to create api keys and get to use the API remember to confirm your account.</p>
            <p>If you haven't received any code, please make sure that the email address you provided was correct, and request a new verification code</p>
            <button><a href="account/new-code/">Request a new code</a></button>
        </div>
        {% endif %}
        {% if keys %}
            {% for key in keys %}
            <div>
                <p>This is your api key</p>
                <h3>API KEY: {{ key.key }}</h3>
                <button><a href="/account/delete-auth-key/{{ key.key }}">Delete Key</a></button>
            </div>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>
</body>
</html>