<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Pystronomical</title>
    <meta charset="utf-8" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <section class="index">
      <img src="{% static 'img/index-svg.svg' %}" alt="sky" width="80%" />
      <button class="start-explore">
        <a href="{% url 'homepage' %}">Start Exploring</a>
      </button>
      <div class="access-index">
        <li><a href="{% url 'login' %}" class="login-index">Login</a></li>
        <li>
          <button class="signup-btn">
            <a href="{% url 'create-user' %}">Signup</a>
          </button>
        </li>
      </div>
      <div class="index-description">
        <h1><i>Pystronomical</i></h1>
        <p>
          Hello there! Pystronomical is a project with the aim to bring more and
          more people to start observing the Sky, to let astronomy be known by a
          wider audience and it's also a way for me to share my passion and love
          for astronomy. There are so many fascinating things about it and if
          you were interested to move your first steps into this world I would
          be happy this website could be of help. So feel free to use it as a
          resource for your amazing astronomical journey.
        </p>
      </div>
    </section>
  </body>
</html>
