{% extends 'base-profile.html' %}
      {% block content %}
      <div class="central-menu">
        <div class="central-info">
            {% if key %}
          <h1>API key</h1>
          <table>
            <thead>
              <tr>
                <th scope="col">Key</th>
                <th scope="col">Expires on</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ key.key }}</td>
                <td>{{ key.expiration_date }}</td>
                  {% if key.active %}
                    <td>Yes</td>
                  {% else %}
                  <td>No</td>
                  {% endif %}
                <td>
                  <button><a href="{% url 'create-key' %}">Regenerate Key</a></button>
                  <button><a href="{% url 'delete-key' key.key %}">Delete Key</a></button>
                </td>
              </tr>
            </tbody>
          </table>
            {% else %}
            {% if request.user.userstatus.confirmed %}
                <button><a href="{% url 'create-key' %}">Generate Key</a></button>
            {% else %}
            <p>It looks like you are still not a confirmed user. If you want to be able to generate API keys and
            using the astropy API you should think about verify your account. Either check your email for the verification code
            or request a new code here: <button><a href="">Request Verification Code</a></button></p>
            {% endif %}
            {% endif %}
          <div class="central-description">
            <small>
              Api keys enable you to use the astropy API. <br />For more
              information, please visit the dedicated page at this link :
              <a href="api.html" class="cyan">API</a>
            </small>
          </div>
        </div>
      </div>
      {% endblock %}

