<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <img
        id="cloud-left"
        src="{% static 'img/clouds-left.svg' %}"
        alt="clouds-left"
      />
      <img
        id="cloud-right"
        src="{% static 'img/clouds-right.svg' %}"
        alt="clouds-right"
      />
      <div class="form-box">
        <div class="form-header">
          <div class="logo">
            <a href="home.html"
              ><img src="{% static 'img/Logo.svg' %}" alt="Py" height="48"
            /></a>
          </div>
        </div>
        <h2><i>Request New Password</i></h2>
        <div class="form-field">
          <form method="POST">
            {% csrf_token %}
            <input
              type="text"
              placeholder="Email Address"
              name="email"
              style="margin-bottom: 0"
            />
            {% if messages %} {% for message in messages %}
            <div class="message-logpage"><small>*{{ message }}</small></div>
            {% endfor %} {% endif %}

            <button class="form-button" type="submit">Send</button>
          </form>
        </div>

        <hr style="width: 80%; margin: 0 auto" />
        <div
          class="foot-note"
          style="
            padding: 10px 10px;
            margin: 2rem 2rem;
            min-height: 5rem;
            color: rgba(0, 0, 0, 0.5);
          "
        >
          <small
            >A message will be sent to this email address. Follow the
            instructions to set a new password for your account</small
          >
        </div>

        <br />
        <div class="form-footer">
          <small>@Pystronomical</small>
        </div>
      </div>
    </div>
    <footer class="login-footer">
      <div class="bottom-footer">
        <div class="resources">
          <p>@Pystronomical</p>

          <a href="">Resources</a>
        </div>
        <div class="top-footer">
          <a href="https://twitter.com/BeGeosDev" target="_blank"
            ><img
              src="{% static 'img/twitter.svg' %}"
              alt="twitter"
              height="23"
          /></a>
          <a href="https://github.com/BeGeos" target="_blank"
            ><img src="{% static 'img/github.svg' %}" alt="GitHub" height="23"
          /></a>
          <a href="#"
            ><img
              src="{% static 'img/facebook.svg' %}"
              alt="facebook"
              height="23"
          /></a>
          <a href="https://www.instagram.com/begeosdev/" target="_blank"
            ><img
              src="{% static 'img/instagram.svg' %}"
              alt="instagram"
              height="23"
          /></a>
          <a
            href="https://www.youtube.com/channel/UCu4BKIihXPSRxCz6kEUK56g"
            target="_blank"
            ><img
              src="{% static 'img/youtube.svg' %}"
              alt="YouTube"
              height="23"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
